<Comment @comment={{@commentReply}}  @currentUser={{@currentUser}}/>
{{#each @commentReply.replies as |reply|}}
<div class="reply-container">
  <div class="reply-line"></div>
  <Comment @comment={{reply}} @reply={{true}} @currentUser={{@currentUser}} />
</div>
{{/each}}