  {{#if this.showEditInput}}
    {{!-- show edit input --}}

    <InputBox @content={{this.content}} @currentUsr={{@currentUser}} @update={{true}}/>

  {{else}}
    {{!-- show comment --}}
    <div>
  <div class="comment-div {{if this.isReply "reply-div"}}">
  <div>
    <div class="comment-header">
      <div class="avatar">
        <img src={{@comment.user.image.webp}} alt="avatar">
      </div>
      <p><strong>{{@comment.user.username}}</strong></p>
      <p>{{@comment.createdAt}}</p>
    </div>
    <div class="comment-text">{{#if this.isReply}} <span>{{this.replyTo}}</span> {{/if}} {{@comment.content}}</div>
  </div>
  <div class="count">
    <div><img src="../../assets/images/icon-plus.svg" alt="plus icon"></div>
    <span class="score">{{@comment.score}}</span>
    <div class="minus-icon"><img src="../../assets/images/icon-minus.svg" alt="minus icon"></div>
  </div>
  {{#if this.isCurrentUser}}
      <div class="edit-delete" {{on "click" this.edit}}>
      <div class="delete-div"><div><img src="../../assets/images/icon-delete.svg" alt="delete icon"/></div>
      <span class="delete-span">Delete</span></div>
       <div class="edit-div"> <div class="edit"><img src="../../assets/images/icon-edit.svg" alt="edit icon"/></div>
      <span>Edit</span></div>
  </div>
  {{else}}
    <div class="reply" {{on "click" this.textInput}}>
      <div><img src="../../assets/images/icon-reply.svg" alt="reply icon"/></div>
      <span>Reply</span>
  </div>

  {{/if}}

  </div>

{{#if this.showTextBox}}
  <InputBox @currentUsr={{@currentUser}} @reply={{true}}/>
{{/if}}
</div>

  {{/if}}