<div class="comment-div {{if this.isReply "reply-div"}}">
  <div>
    <div class="comment-header">
      <div class="avatar">
        <img src={{@comment.user.image.png}} alt="avatar">
      </div>
      <p><strong>{{@comment.user.username}}</strong></p>
      <p>{{@comment.createdAt}}</p>
    </div>
    <div class="comment-text">{{@comment.content}}</div>
  </div>
  <div class="count">
    <div><img src="../../images/icon-plus.svg" alt="plus icon"></div>
    <span class="score">{{@comment.score}}</span>
    <div class="minus-icon"><img src="../../images/icon-minus.svg" alt="minus icon"></div>
  </div>
  <div class="reply">
    <img src="../../images/icon-reply.svg" alt="reply icon"/>
    <span>reply</span>
  </div>
</div>