<div class="main">
    <div class="container-main">
      <div>
        <ul class="details">
          {{#each @model.comments as |comment|}}
            <li><CommentSection @commentReply={{comment}} @currentUser={{@model.currentUser}} /></li>
          {{/each}}
        </ul>
      </div>
      <InputBox @currentUsr={{@model.currentUser}} />
    </div>
  </div>
 

  {{#if this.showDeleteComment.deleteComment}}
    <DeleteComponent />
  {{else}}
    <p>Value of this.showDeleteComment.deleteComment:::::: {{this.showDeleteComment.deleteComment}}</p>
  {{/if}}

