<div class="input-div">
  <div class="img">
    <img src={{@currentUsr.webp}} alt="avatar">
  </div>
  {{#if @update}}
    <label for="update">
      <Textarea @value={{this.content}} name="update"/>
    </label>
  {{else if this.response}}
   <label for="comment">
      <Textarea @value={{this.content}} name="comment" />
    </label>
  {{else}}
    <label for="comment">
      <Textarea @value={{this.content}} placeholder="Add a comment..." name="comment" />
    </label>
  {{/if}}

  <div class="reply-btn {{if @update "update-btn"}}">   
      {{#if this.response}}
      <button type="button" class="input-reply" {{on "click" this.reply}}>Reply</button>
      {{else if @update}}
      <button type="button" class="input-update"  {{on "click" this.update}}>Update</button>
      {{else}}
      <button type="button" {{on "click" this.new}}>Send</button>
      {{/if}}
  </div>
</div>