<div class="input-div">
  <div class="img">
    <img src={{@currentUsr.image.png}} alt="avatar">
  </div>
  
  {{#if @update}}
    <textarea value={{@content}} class="update" />
  {{else}}
    <textarea placeholder="Add a comment..." />
  {{/if}}

  <div class="reply-btn {{if @update "update-btn"}}">
    <button type="button">
      {{#if @reply}}
        Reply
      {{else if @update}}
        Update
      {{else}}
        Send
      {{/if}}

    </button>
  </div>
  
</div>