<div class="input-div">
  <div class="img">
    <img src={{@currentUsr.webp}} alt="avatar">
  </div>
  {{#if @update}}
    <label for="update">
      <Textarea class="textarea" @value={{this.content}} name="update"/>
    </label>
  {{else}}
    <label for="comment">
      <Textarea class="textarea" placeholder="Add a comment..." name="comment" />
    </label>
  {{/if}}

  <div class="reply-btn {{if @update "update-btn"}}">   
      {{#if @reply}}
      <button type="button">Reply</button>
      {{else if @update}}
      <button type="button"{{on "click" this.update}} >Update</button>
      {{else}}
      <button type="button">Send</button>
      {{/if}}
  </div>
</div>